
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Browse Attachment</title>

   

    

</head>
<body>
    <div id ="fileattachment" class="editor-field">
        <input type="file" />
    </div>

</body>
</html>
