
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@*<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYouView</title>
</head>*@
<body>
    <div> 

    <p>Thank You for Submitting this form. Please close this window</p>


    </div>
</body>
</html>
