@model IEnumerable<IsasWebPortal.Models.AmountConfig>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(3n){text-align: right;}
</style>
<h2>Index</h2>
<h4>AmountConfig</h4>
<p>
    @Html.ActionLink("Create New", "AmountConfigCreate")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "AmountConfigEdit", new { id=item.AmountTagId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>

    </tr>
}

</table>
